<div class="col m-3 mb-3">
  <div class="col-md-12 mb-3">
    <img src="assets/product.png" class="rounded-circle" width="150px" height="150px">
  </div>
  <hr>
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2><i class="fa-solid fa-circle-info blue-color"></i>&nbsp;Information du materiel</h2>
    </div>
    <div class="col-md-12">
      <form>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="ID materiel">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Libelle">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Reference">
          </div>
          <div class="col">
            <select class="form-select" aria-label="Default select example">
              <option selected>Selectionner une categorie</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="3">4</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Quantite">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Prix">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row text-right">
    <div class="col">
      <button type="button" class="btn btn-danger m-3">
        <i class="fa fa-ban"></i>&nbsp;Annuler
      </button>
      <button type="button" class="btn btn-primary ">
        <i class="fa fa-save"></i>&nbsp;Enregistrer
      </button>
    </div>
  </div>

</div>


