<div class="row mb-1 mr-0 mt-1 custom-border ">
  <!--  details projets -->
  <div class="col-md-2 custom-border-right p-1 text-center mt-1 mb-1">
    <div class="">
    <img src="assets/product.png" width="60px" height="60px">
  </div>
  </div>
  <div class="col-md-4 custom-border-right mt-1 mb-1">
    <div class="row">
    <div class="d-flex align-items-center ">
      <div class="mr-7 col-md-1"> <i class="fa-solid fa-barcode"></i></div>
      <div class="col-md-11">ID projet</div>
    </div>
  </div>
    <div class="row">
      <div class="d-flex align-items-center">
       <div class="mr-7 col-md-1">  <i class="fa fa-toolbox mr-2 orange-color"></i></div>
        <div class="col-md-11">Nom projet</div>
      </div>
    </div>

    <div class="row">
      <div class="d-flex align-items-center">
        <div class="mr-7 col-md-1"><i class="fa-solid fa-sack-dollar green-color"></i></div>
        <div class="col-md-11">Budget</div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex align-items-center">
        <div class="mr-7 col-md-1"><i class="fa-solid fa-arrow-trend-up blue-color"></i></div>
        <div class="col-md-11">Progression du projet</div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex align-items-center">
        <div class="mr-7 col-md-1"><i class="fa-regular fa-calendar-days blue-color"></i></div>
        <div class="col-md-11">Date début</div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex align-items-center">
        <div class="mr-7 col-md-1"><i class="fa-regular fa-calendar-days blue-color"></i></div>
        <div class="col-md-11">Date fin estimé</div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex align-items-center">
        <div class="mr-7 col-md-1"><i class="fa-regular fa-calendar-check blue-color"></i></div>
        <div class="col-md-11">Date fin</div>
      </div>
    </div>
  </div>
  <!--  details Materiels -->
  <div class="col-md-3 custom-border-right mt-1 mb-1">
    <div class="row">
      <div class="col-md-2">
        <i class="fa-solid fa-cart-flatbed-suitcase blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">ID Materiel</div>
          <div class="col-md-12">Description categorie</div>
        </div>
      </div>
    </div>
  </div>
  <!--  boutons action -->
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fa-solid fa-pen-to-square"></i>&nbsp;Modifier</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fa-regular fa-rectangle-list"></i>&nbsp;Details</button>
      </div>
    </div>
  </div>
</div>
