<div class="row  mb-1 mr-0  custom-border ">
  <!--  details projets -->

  <div class="col-md-3 custom-border-right mt-1 mb-1">
    <div class="row text-center">
      <div class="d-flex align-items-center ">
        <div class="col-md-11">12.12.2023</div>
      </div>
    </div>
  </div>
  <!--  details Materiels -->
  <div class="col-md-3 custom-border-right mt-1 mb-1">
    <div class="row">
      <div class="col-md-12 text-center">
            <h5>139</h5>
        </div>
    </div>
  </div>

  <div class="col-md-3 custom-border-right mt-1 mb-1">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>139</h5>
      </div>
    </div>
  </div>

  <!--  boutons action -->
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fa-regular fa-pen-to-square"></i>&nbsp;Correction de stock
        </button>
      </div>
    </div>
  </div>
</div>



