<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Bootstrap JavaScript (popper.js and jQuery are required) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div class="col">
  <div class="row m-3 mr-0">
    <div class="col-md-8 p-0">
      <h1>Informations du collaborateur/fournisseur</h1>
    </div>
    <div class="col-md-4 m-0 p-0 text-right">
      <app-boutton-action></app-boutton-action>
    </div>
  </div>
  <div class="col m-3">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" (click)="toggleCollapse()" [attr.aria-expanded]="isCollapseExpanded()" [attr.aria-controls]="'collapseOne'">
              <app-detail-projet-col></app-detail-projet-col>
            </button>
          </h2>
        </div>
        <div id="collapseOne" [ngClass]="{'collapse': !isCollapseExpanded(), 'show': isCollapseExpanded()}" [attr.aria-labelledby]="'headingOne'" style="max-height: 300px;
          overflow-y:scroll ">
          <div class="card-body">
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              <h5> 12 projets commandes </h5>
            </div>
            <div class="col-md-6 text-right">
              <h5> Total : 78</h5>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- other -->







    <!-- other -->
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>

