<!-- CSS Bootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.0/css/bootstrap.min.css">

<!-- JavaScript Bootstrap (jQuery required) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.0/js/bootstrap.min.js"></script>



<div class="row mb-1 mr-0 mt-1 custom-border ">
  <!--  details collaborateur -->
  <div class="col-md-2 custom-border-right p-1 text-center mt-1 mb-1">
    <div class="">
      <img src="assets/product.png" width="60px" height="60px">
    </div>
  </div>
  <div class="col-md-4 custom-border-right mt-1 mb-1">
    <div class="row">
      <div class="d-flex align-items-center ">
        <div class="mr-7 col-md-1"><i class="fa-solid fa-barcode"></i></div>
        <div class="col-md-11">ID collaborateur</div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex align-items-center">
        <div class="mr-7 col-md-1"><i class="fa-solid fa-barcode"></i></div>
        <div class="col-md-11">Nom collaborateur</div>
      </div>
    </div>

    <div class="row">
      <div class="d-flex align-items-center">
        <div class="mr-7 col-md-1"><i class="fa-solid fa-barcode"></i></div>
        <div class="col-md-11">Prenom collaborateur</div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex align-items-center">
        <div class="mr-7 col-md-1"><i class="fa-solid fa-arrow-up-short-wide blue-color"></i></div>
        <div class="col-md-11">06 39 90 29 01</div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex align-items-center">
        <div class="mr-7 col-md-1"><i class="fa-solid fa-sack-dollar green-color"></i></div>
        <div class="col-md-11">E-mail</div>
      </div>
    </div>
  </div>
  <!--  details projet -->
  <div class="col-md-3 custom-border-right mt-1 mb-1">

    <div class="col-md-10 text-center">
      <div class="row">
        <div class="d-flex align-items-center">
          <div class="mr-7 col-md-1"><i class="fa-solid fa-barcode"></i></div>
          <div class="col-md-11">ID projet</div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex align-items-center">
          <div class="mr-7 col-md-1"><i class="fa-solid fa-barcode"></i></div>
          <div class="col-md-11">Nom projet</div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex align-items-center">
          <div class="mr-7 col-md-1"><i class="fa-solid fa-barcode"></i></div>
          <div class="col-md-11">Type projet</div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex align-items-center">
          <div class="mr-7 col-md-1"><i class="fa-solid fa-barcode"></i></div>
          <div class="col-md-11">Budget</div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex align-items-center">
          <div class="mr-7 col-md-1"><i class="fa-solid fa-barcode"></i></div>
          <div class="col-md-11">Progression du projet</div>
        </div>
      </div>
    </div>

  </div>
  <!--  boutons action -->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-link">
          <i class="fa fa-pencil-alt blue-color"></i>&nbsp;
          Modifier
        </button>
      </div>
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-link">
          <i class="fa fa-trash-alt blue-color"></i>&nbsp;
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>



